# Credenciais do Supabase
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Chave da API do Gemini | Gemini 3 Flash Preview
GEMINI_API_KEY=""

# Outras configurações
NEXT_PUBLIC_APP_URL=http://localhost:3000