@tailwind base;
@tailwind components;
@tailwind utilities;

/* Evita o deslocamento do conteúdo quando a barra de rolagem aparece */
html {
  overflow-y: scroll;
} 

.boldonse {
  font-family: 'Boldonse', sans-serif;
}

.press-start {
  font-family: 'Press Start 2P', sans-serif;
}

.vt323 {
  font-family: 'VT323', sans-serif;
}
